body{background-color: black;
font-family: 'Roboto Condensed', sans-serif;
font-size: small;}

.post {width: 300px;
height: 450px;
background-color: white;
margin:auto}

header{display: flex;
width: 280px;}

p{margin-bottom: 0%; 
margin-left: 5px;}
span{margin-left: 5px;}

.logito{margin-top: 20px;margin-left: 5px;}

img{width: 100%;
margin-top: 20px;
padding: 0%;}


.left {margin-left: 75%
;
margin-top: 20px;}

.bookmark{margin-right: 5px;}

.bottom {display: flex;}

.logosizq{width: 95%;margin-left: 5px;}